.cardio {
    background-color: rgb(194, 59, 59);
    text-align: center;
    border-radius:30px;
    display: block;
    width: 500px;
    float: left;
    margin-left: 100px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.diabetes {
    background-color: rgb(194, 59, 59);
    text-align: center;
    border-radius:30px;
    display: block;
    width: 500px;
    float: left;
    margin-right: 100px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto {
    float: left;
    clear: both;
}

.grupo li {
    list-style: circle;
    text-align: left;
}

body {
    background-image: url(p.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body h1 {
    font-family: sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(40, 168, 211);
}

footer {
    font-family: sans-serif;
    font-size: small;
}

.texto h2 {
    text-decoration: underline;
    text-decoration-color: rgb(40, 168, 211);
}